**/node_modules/*
**/bower_components/*
build/*
doc/*
install/*
reports/*
.tscache/*
tscommand-*.tmp.txt
.baseDir.ts
lib/bower/*
buildd.log
buildd.prf
objd/**
build.log
build.prf
build.trc
buildd.trc
npm-debug.log
**/obj/**
**/objd/**

