.left-column {
    float: left;
    width:550px;
}
.right-column {
    float: right;
    width:550px;
}
.left-demo-pane {
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid rgb(212,212,212); 
    width: 550px; 
    height: 400px; 
}
