.demo-page-header
{
    background-color: #29ab6f;
}

.banner
{
    color: white;
    font-size: 50px;
    line-height: 120px;
    height: 120px;
}

.button-pane
{
    margin: 20px 0px 0px 38px;
}

.demo-pane
{
    margin: 20px 0px 0px 38px;
    border: 1px solid #d4d4d4;
    border-bottom: 0px none transparent;
    height: 400px;
}

.button-pane + .demo-pane
{
    margin-top: 0px;
}

.script-pane
{
    margin: 0px 0px 10px 38px;
}

.indent
{
    margin-left: 30px;
}

h1
{
    color: #29ab6f;
}

script
{
    margin: 20px 0 10px 0;
}

.nav.active
{
    font-weight: bold;
}

#api_page table
{
    width: 95%;
    margin: 0px auto 0px auto;
}

.nav-menu li
{
    height: 30px;
    line-height: 30px;
}
